alembic
blinker
click
Flask
Flask-Caching
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-Session
Flask-WTF
greenlet
gunicorn
itsdangerous
Jinja2
Mako
MarkupSafe
packaging
psutil
PyMySQL
python-dotenv
SQLAlchemy
typing_extensions
Werkzeug
