{% extends "base.html" %}

{% block page_content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header bg-danger text-white">
                    <h4 class="mb-0">Error</h4>
                </div>
                <div class="card-body">
                    <p class="lead">{{ error }}</p>
                    <a href="{{ url_for('projects.index') }}" class="btn btn-primary">
                        <i class="fas fa-arrow-left"></i> Back to Projects
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
