<!-- LDAP Configuration Modal -->
<div class="modal fade" id="ldapModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Configure LDAP</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="ldapForm">
                    <div class="form-group">
                        <label>LDAP URL</label>
                        <input type="text" class="form-control" id="ldapUrlInput" required>
                    </div>
                    <div class="form-group">
                        <label>Bind DN</label>
                        <input type="text" class="form-control" id="bindDn" required>
                    </div>
                    <div class="form-group">
                        <label>Bind Password</label>
                        <input type="password" class="form-control" id="bindPass" required>
                    </div>
                    <div class="form-group">
                        <label>User DN</label>
                        <input type="text" class="form-control" id="userDn" required>
                    </div>
                    <div class="form-group">
                        <label>Group DN</label>
                        <input type="text" class="form-control" id="groupDn" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="saveLdapConfig()">Save</button>
            </div>
        </div>
    </div>
</div>
